<div class='intro'>
	<div class='intro__top'>
		<h1 class='intro__hed'>{{{doc.hed}}}</h1>
		{{!-- <h4 class='intro__dek'>{{doc.dek}}</h4> --}}
		<div class='intro__images'>
			<img src='assets/images/intro/hahahaha.png'>
			<img src='assets/images/intro/imdead.png'>
			<img src='assets/images/intro/lol.png'>
		</div>
	</div>
	
	<div class='intro__bottom'>
		<p class='intro__byline'>
			By <a href='{{meta.author2.url}}' target='_blank'>{{meta.author2.name}}</a>, <a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}</a>, <a href='{{meta.author3.url}}' target='_blank'>{{meta.author3.name}}</a>
		</p>
	</div>

	<div class='intro__prelude prose'>
		{{#each doc.intro}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>