<div class='intro'>
	<div class='intro__top'>
		<h1 class='top__hed--a'><span>laughing</span></h1>
		<h1 class='top__hed--b'><span>on</span></h1>
		<h1 class='top__hed--c'><span>line</span></h1>
		<p class='top__byline'>
			<span>
			By <a href='{{meta.author2.url}}' target='_blank'>{{meta.author2.name}}</a>
			<a href='{{meta.author.url}}' target='_blank'>{{meta.author.name}}</a>
			<a href='{{meta.author3.url}}' target='_blank'>{{meta.author3.name}}</a>
			<a href='{{meta.author4.url}}' target='_blank'>&amp; {{meta.author4.name}}</a>
			</span>
		</p>
		<div class='top__stripes'></div>
		{{!-- <div class='intro__images'>
			<img src='assets/images/intro/hahahaha.png'>
			<img src='assets/images/intro/imdead.png'>
			<img src='assets/images/intro/lol.png'>
		</div> --}}
	</div>
	
	<div class='intro__bottom'>
		
	</div>

	<div class='intro__prelude prose'>
		{{#each doc.intro}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>

		<div class='intro__parts parts'>
			<div>
				{{#each doc.parts}}
					<a class='is-{{live}}' href='#{{slug}}'>
						<span class='part__index'>{{index}}</span>
						<span class='part__title'>{{{title}}}</span>
						<span class='part__release'>{{{release}}}</span>
					</a>
				{{/each}}
			</div>
		</div>

</div>
