<section id='outro'>
	<div class='prose notes'>
		<p>But wait...there’s more!</p>
		<p>
			<ul>
			{{#each doc.parts}}
				
				{{#if live}}{{else}}<li><span class='part__index'>Part
						{{index}}</span>: <span class='part__title'>{{{title}}}</span><span class='part__release'>{{{release}}}</span></li>{{/if}}
			{{/each}}
			</ul>
		</p>
		{{#each doc.notes}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>

<section id='method' class='section__info'><h2>Data and Method</h4>
	<div class='prose method'>
		{{#each doc.method}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
