<section id='outro'>
	<div class='prose'>
		<p>{{{doc.more}}}</p>
	</div>

	<div class='parts'>
		{{#each doc.parts}}
			{{#if live}}{{else}}
				<a class='is-{{live}}' href='#{{slug}}'>
					<span class='part__index'>{{index}}</span>
					<span class='part__title'>{{{title}}}</span>
					<span class='part__release'>{{{release}}}</span>
				</a>
			{{/if}}
		{{/each}}
	</div>

	<div class='prose'>
		{{#each doc.notes}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
	
</section>

<section id='method'>
	<div class='section__info'><h2>Data and Method</h2></div>
	<div class='prose method'>
		{{#each doc.method}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
