<section id='outro'>
	<div class='prose notes'>
		<p>But wait...there’s more coming!</p>
		<p>
			<div class='parts'>
				{{#each doc.parts}}
				{{#if live}}{{else}}
					<a class='is-{{live}}' href='#{{slug}}'>
						<span class='part__index'>{{index}}</span>
						<span class='part__title'>{{{title}}}</span>
						<span class='part__release'>{{{release}}}</span>
					</a>
				{{/if}}
				{{/each}}
			</div>
		</p>
		{{#each doc.notes}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>

<section id='method' class='section__info'><h2>Data and Method</h4>
	<div class='prose method'>
		{{#each doc.method}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>
