<section id='perception'>
	
	<div class='section__info'>
		<h2>{{{doc.perception.hed}}}</h2>
		<div class='prose'>
			<p>{{{doc.perception.dek}}}</p>
		</div>
	</div>

	<div class='section__survey'>
		
		<div class='survey__instructions'>	
			<p class='instructions instructions--1'>{{{doc.perception.instructions1}}}</p>
			<p class='instructions instructions--2 is-hidden'>{{{doc.perception.instructions2}}}</p>
		</div>
			
		<ul class='survey__terms'>
			{{#each doc.perception.terms}}
				<li><button class='btn'>{{this}}</button></li>
			{{/each}}
		</ul>
		
		<div class='survey__slider slider'></div>
		
		<div class='survey__scale'>
			<ul>
				{{#each doc.perception.scale}}
					<li class='scale__item'><img inline src='scale/{{value}}.svg'><span>{{{text}}}</span></li>
				{{/each}}
			</ul>
		</div>

		<div class='survey__nav'>
				<button class='btn btn--border btn--submit'>{{{doc.perception.submit}}}</button>
				<button class='btn btn--skip'>{{{doc.perception.skip}}}</button>
				<button class='btn btn--another'>{{{doc.perception.another}}}</button>
		</div>

		<figure class='survey__figure'></figure>

	</div>
</section>